# Visual Studio
.vscode/
.vs/
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
